*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#video-1 {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #d8bd27;
}

.logo {
    background-color: rgba(199, 201, 198, 0.171);
    width: 30%;
    height: 30%;
    position: relative;
    display: flex;
    align-items: center;
    margin: 60px;
    padding: 10px;
}

.box-1 {
    display: flex;
    background-color: #d8bd27;
    justify-content: center;

}

.p-1 {
    background-color: rgba(199, 201, 198, 0.171);
    width: 30%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(249, 253, 253);
}

.list-i {
    /* background-color: brown; */
    justify-content: center;
    display: flex;
}

.p-lorem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(249, 253, 253);
    background-color: rgba(199, 201, 198, 0.171);
    text-align: center;
    margin: 10px;
}

.btn {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: x-large;
    position: relative;
    border-color: white;
    display: flex;
    padding: 10px;
    margin-top: 35px;
    margin-right: 5rem;
    margin-left: 5rem;
    background-color: rgba(40, 188, 233, 0.89);
    color: white;
    border-radius: 10px;

}

.video-2 {
    display: block;
    border-radius: 5%;
    width: 320px;
    border: 5px solid #d8bd27;
    padding: 2px;
    margin-left: 100px;
    margin-right: 50px;
}

.pupuk {
    margin-inline: 8%;
}

.h-1 {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    color: #d8bd27;
    border-radius: 20px;
    border: #d8bd27 solid 5px;
    padding: 10px;
}

.list-2{
    display: flex;
    color: #d8bd27;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-weight: bold;
}

.logo-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.lower-box{
    background-color: #d8bd27;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    height: 60px
}